%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .inputs
    = f.input :name, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :country, :collection => country_collection
    = f.input :region, :collection => region_collection
    = f.input :settlement, :required => true, :collection => settlement_collection
    = f.input :agree, :required => true, :label => 'I agree with terms', :input_html => {:type => 'checkbox'}
  .actions
    = f.button :submit, "Sign up"
= render :partial => "devise/shared/links"