%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .inputs
    = f.input :name, :autofocus => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :country_id, :collection => country_collection
    = f.input :region_id, :collection => region_collection
    = f.input :settlement_id, :collection => settlement_collection
    = f.input :agree, :required => true, :label => 'I agree with terms', :input_html => {:type => 'checkbox'}
  .actions
    = f.button :submit, "Sign up"
= render :partial => "devise/shared/links"

- content_for :js do
  :javascript
    $(document).ready(function(){
        validate_forms();
        restrict_location();
    });

    function validate_forms(){
        $('form').submit(function(){
            var allow_submit = true,
                form = $(this);
            $('input[type=checkbox]', form).each(function(){
                var el = $(this);
                if (el.attr('name').match(/\[agree\]/)){
                    if (el.attr('checked') == 'checked'){
                        el.parent().removeClass('failed');
                    }
                    else{
                        el.parent().addClass('failed');
                        allow_submit = false;
                    }
                }
            });
            return allow_submit;
        });
    }

    function restrict_location(){
        $('#new_user select').on('change', function(){
            reload_items($(this));
        });
    }

    function reload_items(select){
        var name = select.attr('name').match(/country|region/),
            ids = {
              country: 'user_region_id',
              region: 'user_settlement_id'
            },
            currentCountry = $("#user_country_id").val();
            currentRegion = $("#user_region_id").val();
            path = '/locations/';
            urls = {
              country: path + currentCountry,
              region: path + currentCountry + '/' + currentRegion
            },
            url = urls[name];
        if (url == undefined) return;

        $.ajax({
            url: url,
            success: function(data){
                var el = $("#" + ids[name]);
                el.html('');
                var option = $('<option></option>');
                $.each(data, function() {
                    option.attr('value', this['id']);
                    option.text(this['name']);
                    option.clone().appendTo(el);
                });

                if (name == 'country') reload_items($("#user_region_id"))
            }
        })

    }