= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'well form-horizontal'}, validate: true) do |f|
  = f.error_notification
  .inputs
    = f.input :name, validate: { presence: true, uniqueness: false }
    = f.input :email
    = f.input :password, input_html: { autocomplete: "off" }
    = f.input :password_confirmation, input_html: { autocomplete: "off" }, validate: { presence: true }
    - [:country, :region, :settlement].each do |location|
      = render partial: 'locations/input', locals: {f: f, resource: resource, location: location}
    = f.input :agree, input_html:  {type: 'checkbox'}, validate: { presence: true }
  .form-actions
    = f.button :submit, t(:"users.register"), class: 'btn'
= render partial: "devise/shared/links"


- content_for :js do
  :javascript
    $(document).ready(function(){
        restrict_location();
    });

    function restrict_location(){
        $('#new_user select').on('change', function(){
            reload_items($(this));
        });
    }

    function reload_items(select){
        var name = select.attr('name').match(/country|region/),
            ids = {
              country: 'user_region_id',
              region: 'user_settlement_id'
            },
            currentCountry = $("#user_country_id").val();
            currentRegion = $("#user_region_id").val();
            path = '/locations/';
            urls = {
              country: path + currentCountry,
              region: path + currentCountry + '/' + currentRegion
            },
            url = urls[name];
        if (url == undefined) return;

        $.ajax({
            url: url,
            success: function(data){
                var el = $("#" + ids[name]);
                el.html('');
                var option = $('<option></option>');
                $.each(data, function() {
                    option.attr('value', this['id']);
                    option.text(this['name']);
                    option.clone().appendTo(el);
                });

                if (name == 'country') reload_items($("#user_region_id"))
            }
        })

    }
