%section.contact
  = simple_form_for @contact_message, :url => contact_message_path do |f|
    %h2 Please fill in following form
    = f.input :name, :label => "Name", :input_html => sender_input_attributes_for(:name, @contact_message)
    = f.input :email, :label => "Email", :input_html => sender_input_attributes_for(:email, @contact_message)
    = f.input :subject, :label => "Subject"
    = f.input :description, :label => "Description", :as => :text
    = render 'shared/counter', :selector => '#contact_message_description'
    = f.submit "Submit"
    .clear