= simple_form_for([@user, @vehicle], html: {class: 'form-horizontal'}, remote: remote ||= false, validate: true) do |f|
  = render_car_brand
  = f.input :release_year
  = f.simple_fields_for @user_vehicle do |uv|
    = uv.input :date_of_purchase, as: :string, input_html: {'data-behaviour' => 'datepicker'}
  = f.input :engine_volume
  = f.input :transmission
  = f.input :vin
  = f.input :color
  = f.input :mileage
  = f.simple_fields_for @user_vehicle do |uv|
    = uv.input :mileage_on_purchase
  .form-actions
    = f.submit
