<p><%= t(:'global.greetings', name: @resource.name) %></p>

<p><%= t('devise.passwords.request_to_change') %></p>

<p><%= link_to t('devise.passwords.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.passwords.didnt_request') %></p>
<p><%= t('devise.passwords.wont_change_until') %></p>

<%= render 'shared/mail_footer' %>
