!!!
%html
  %head
    %title Bortovik
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    %p.notice= notice
    %p.alert= alert
    = yield
    = render "/layouts/javascripts"
