!!!
%html
  %head
    %title Bortovik
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
    %p.notice= notice
    %p.alert= alert
    = yield
    = render "/layouts/javascripts"
    %div{ :style => "position:absolute; top:30px; right:50px;" }
      - User::CURRENCIES.each do |currency|
        - if currency == Money.default_currency.to_s
          = currency
        - else
          = link_to currency, url_for(:currency=> currency)

